<nav th:replace="fragments/header.html"/>

<div class="d-flex">

    <th:block th:replace="fragments/sidebar.html"/>

    <div class="content p-4">
        <h2 class="mb-4">Products</h2>

        <div class="card mb-4">
            <div class="card-body">

                <table>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <th th:text="${product.id}" scope="row">1</th>
                        <td th:text="${product.name}">root</td>
                        <td th:text="${product.description}">root</td>
                        <td th:text="${product.price}">root</td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>



<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/bootadmin.min.js"></script>

</body>
</html>