<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/bootadmin.min.css">

    <title>BootAdmin</title>
</head>
<body class="bg-light">

<nav th:replace="fragments/header.html"/>

<div class="d-flex">

    <th:block th:replace="fragments/sidebar.html"/>

    <div class="content p-4">
        <h2 class="mb-4">User edit page</h2>

        <div class="card mb-4">
            <div class="card-body">


            </div>
        </div>
    </div>
</div>



<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/bootadmin.min.js"></script>

</body>
</html>